@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">P:</abbr>
    978.604.7264
</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:brian.mello@outlook.com">brian.mello@outlook.com</a><br />
</address>