@model IEnumerable<ProteinManagementSystem.Web.Models.ProteinViewModel>
@{
    ViewBag.Title = "Home Page";
}

<!-- The Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body row">
                <div class="col-sm-12">
                    <p class="lead"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="container-fluid">
    <div class="row">
        <form method="get" action="@Url.Action("Create")">
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Create A New Protein" act class="btn btn-default" />
                </div>
            </div>
        </form>
        <br />
    </div>
    <br />
    <div class="row">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><h6>Protein List</h6></div>
            <br />

            <form method="get" action="@Url.Action("Index")" data-protein-ajax='true' data-protein-target="#proteinTable">
                <input type="search" name="@ProteinManagementSystem.Web.Controllers.HomeController.SearchTerm" />
                <input type="submit" value="Search by name or sequence" />
            </form>
            <br />

            <div class="table-responsive">
                <!-- Table -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Description</td>
                            <td>Isoelectric Point</td>
                            <td>Molecular Weight</td>
                            <td>Year Discovered</td>
                            <td>Discovered By</td>
                        </tr>
                    </thead>
                    @Html.Partial("_Proteins", Model, ViewData)
                </table>
            </div>
        </div>
    </div>
</div>